<h2>Courses</h2>
<ul>
	<li ng-repeat="course in courses">
		<a href="javascript:;" ng-click="showStudents(course)">
			{{ course.id }} {{ course.name }}
		</a>
	</li>
</ul>

<div ng-show="courseMostrando != null">

	<p>
		<b>Descripcion del curso:</b>
		<span>
			{{ courseMostrando.description }}
		</span>
	</p>

	<p>
		<b>
			Alumnos inscritos:
		</b>
	</p>

	<p ng-show="courseStudents.length == 0">
		No hay alumnos que mostrar
	</p>

	<ul>
		<li ng-repeat="student in courseStudents">
			{{ student.id }} {{ student.name }} {{ student.surname }}
		</li>
	</ul>
</div>


<h2>Students</h2>
<ul>
	<li ng-repeat="student in students">
			{{ student.id }} {{ student.name }} {{ student.surname }}
	</li>
</ul>